In [75]:
import pandas as pd
df = pd.read_csv('Assignment2_data.csv')

In [76]:
df = df[df['wave'] == 1981]
df = df.fillna(0)

In [107]:
X = df[['sex','sch','annhrs','annlabinc','yrsexp','yrsExpSq']]
XVal = X.to_csv('XVal.csv')
X.loc[df["sex"] == 2, "sex"] = 0
X

       sex   sch  annhrs  annlabinc  yrsexp  yrsExpSq
0        1  16.0    1600    10000.0    12.0     144.0
1        1  14.0     520     9095.0    14.0     196.0
8        1  14.0    2410    20500.0    12.0     144.0
13       1  15.0    1746    22000.0    23.0     529.0
23       1  12.0    2752    23000.0    13.0     169.0
...    ...   ...     ...        ...     ...       ...
33354    0  14.0     315      900.0    14.0     196.0
33367    0  16.0    2010    19000.0    13.0     169.0
33394    0  12.0    1760    22198.0    35.0    1225.0
33395    0  10.0    1968     7488.0     3.0       9.0
33397    0  14.0    1742     7000.0     4.0      16.0

[4611 rows x 6 columns]

In [108]:
Y = df[['hrwage']]
Y

          hrwage
0       6.250000
1      17.490385
8       8.506224
13     12.600229
23      8.357558
...          ...
33354   2.857143
33367   9.452736
33394  12.612500
33395   3.804878
33397   4.018370

[4611 rows x 1 columns]

In [80]:
import statsmodels.api as sm 
from sklearn import linear_model
from sklearn.preprocessing import StandardScaler

In [81]:
regr = linear_model.LinearRegression()
regr.fit(X, Y)
X = sm.add_constant(X)
model = sm.OLS(Y, X).fit()
predictions = model.predict(X)
print_model = model.summary()
print(print_model)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrwage   R-squared:                       0.837
Model:                            OLS   Adj. R-squared:                  0.837
Method:                 Least Squares   F-statistic:                     3942.
Date:                Wed, 12 Oct 2022   Prob (F-statistic):               0.00
Time:                        19:37:16   Log-Likelihood:                -9584.7
No. Observations:                4611   AIC:                         1.918e+04
Df Residuals:                    4604   BIC:                         1.923e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          5.5930      0.197     28.434      0.000       5.207       5.979
sex            0.5052      0.067      7.572      0.000       0.374       0.636
sch            0.0999      0.012      8.605      0.000       0.077       0.123
annhrs        -0.0035   5.52e-05    -64.228      0.000      -0.004      -0.003
annlabinc      0.0005   3.73e-06    122.510      0.000       0.000       0.000
yrsexp         0.0552      0.012      4.462      0.000       0.031       0.080
yrsExpSq      -0.0010      0.000     -3.519      0.000      -0.002      -0.000
==============================================================================
Omnibus:                     7305.240   Durbin-Watson:                   1.996
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          8168702.725
Skew:                           9.859   Prob(JB):                         0.00
Kurtosis:                     208.253   Cond. No.                     1.26e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.26e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [82]:
XMen = X[X['sex'] == 1]
XMen = XMen[['sch','annhrs','annlabinc','yrsexp','yrsExpSq']]
Men = df[df['sex'] == 1]
YMen = Men[['hrwage']]
YMen

          hrwage
0       6.250000
1      17.490385
8       8.506224
13     12.600229
23      8.357558
...          ...
16201   8.522727
16204   2.935010
16208  14.110430
16219   5.396039
16223   9.398497

[2541 rows x 1 columns]

In [95]:
XFem = X[X['sex'] == 0]
XFem = XFem[['sch','annhrs','annlabinc','yrsexp','yrsExpSq']]
Fem = df[df['sex'] == 2]
YFem = Fem[['hrwage']]
YFem

          hrwage
16236   5.730223
16251   3.907592
16256   6.410256
16301   5.421277
16325   8.965929
...          ...
33354   2.857143
33367   9.452736
33394  12.612500
33395   3.804878
33397   4.018370

[2070 rows x 1 columns]

In [150]:
regrM = linear_model.LinearRegression()
regrM.fit(XMen, YMen)
XMen = sm.add_constant(XMen)
modelM = sm.OLS(YMen, XMen).fit()
predictions = modelM.predict(XMen)
print_modelM = modelM.summary()
print(print_modelM)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrwage   R-squared:                       0.889
Model:                            OLS   Adj. R-squared:                  0.889
Method:                 Least Squares   F-statistic:                     4050.
Date:                Wed, 12 Oct 2022   Prob (F-statistic):               0.00
Time:                        20:16:55   Log-Likelihood:                -4966.2
No. Observations:                2541   AIC:                             9944.
Df Residuals:                    2535   BIC:                             9979.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          7.8010      0.244     32.021      0.000       7.323       8.279
sch            0.0727      0.013      5.578      0.000       0.047       0.098
annhrs        -0.0040   6.55e-05    -61.370      0.000      -0.004      -0.004
annlabinc      0.0004   3.63e-06    121.899      0.000       0.000       0.000
yrsexp         0.0449      0.016      2.880      0.004       0.014       0.075
yrsExpSq      -0.0007      0.000     -2.208      0.027      -0.001   -8.25e-05
==============================================================================
Omnibus:                     3261.032   Durbin-Watson:                   1.954
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1219040.803
Skew:                           6.647   Prob(JB):                         0.00
Kurtosis:                     109.476   Cond. No.                     1.61e+05
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.61e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [149]:
regrF = linear_model.LinearRegression()
regrF.fit(XFem, YFem)
XFem = sm.add_constant(XFem)
modelF = sm.OLS(YFem, XFem).fit()
predictions = modelF.predict(XFem)
print_modelF = modelF.summary()
print(print_modelF)

                            OLS Regression Results
==============================================================================
Dep. Variable:                 hrwage   R-squared:                       0.686
Model:                            OLS   Adj. R-squared:                  0.685
Method:                 Least Squares   F-statistic:                     901.5
Date:                Wed, 12 Oct 2022   Prob (F-statistic):               0.00
Time:                        20:15:52   Log-Likelihood:                -4391.5
No. Observations:                2070   AIC:                             8795.
Df Residuals:                    2064   BIC:                             8829.
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          4.5774      0.317     14.459      0.000       3.957       5.198
sch            0.0908      0.020      4.452      0.000       0.051       0.131
annhrs        -0.0035   9.43e-05    -36.821      0.000      -0.004      -0.003
annlabinc      0.0006   1.02e-05     56.124      0.000       0.001       0.001
yrsexp         0.0484      0.019      2.531      0.011       0.011       0.086
yrsExpSq      -0.0011      0.000     -2.310      0.021      -0.002      -0.000
==============================================================================
Omnibus:                     4071.850   Durbin-Watson:                   2.021
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          9833321.771
Skew:                          15.204   Prob(JB):                         0.00
Kurtosis:                     339.281   Cond. No.                     8.13e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.13e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [98]:
import numpy as np

In [121]:
XbarM = pd.DataFrame(regrM.coef_)
cols=[1,2,3,4,5]
XbarM = XbarM[XbarM.columns[cols]]
XbarI = pd.DataFrame(regrM.intercept_)
XbarM = pd.concat([XbarI, XbarM], axis=1)
XbarM = XbarM.T 
XbarM

          0
0  7.801039
1  0.072676
2 -0.004020
3  0.000443
4  0.044890
5 -0.000738

In [132]:
XMen
XMenBar = XMen.mean()
XMenBar = pd.DataFrame([XMenBar])
XMenBar

   const        sch       annhrs     annlabinc     yrsexp    yrsExpSq
0    1.0  12.389217  2104.396301  19175.226719  18.640693  459.661551

In [138]:
XbarF = pd.DataFrame(regrF.coef_)
cols=[0,1,2,3,4]
XbarF = XbarF[XbarF.columns[cols]]
XbarIF = pd.DataFrame(regrF.intercept_)
XbarF = pd.concat([XbarIF, XbarF], axis =1)
XbarF = XbarF.T
XbarF = XbarF.reset_index(drop=True)
XbarF

          0
0  4.577371
1  0.090830
2 -0.003470
3  0.000575
4  0.048432
5 -0.001079

In [139]:
XFem
XFemBar = XFem.mean()
XFemBar = pd.DataFrame([XFemBar])
XFemBar

   const        sch       annhrs    annlabinc     yrsexp    yrsExpSq
0    1.0  12.351208  1643.742029  9647.941063  14.578744  290.896618

In [140]:
Xbar = XMenBar.subtract(XFemBar)
Xbar

   const       sch      annhrs    annlabinc    yrsexp    yrsExpSq
0    0.0  0.038009  460.654272  9527.285657  4.061949  168.764932

In [141]:
CovariateEff = Xbar.dot(XbarM.values)
CovariateEff

          0
0  2.427338

In [142]:
Beta = XbarM.subtract(XbarF)
Beta

          0
0  3.223667
1 -0.018153
2 -0.000550
3 -0.000132
4 -0.003542
5  0.000341

In [148]:
XFemBarT = XFemBar.T
CoefficientEff = XFemBar.dot(Beta.values)
CoefficientEff

          0
0  0.865531

In [152]:
VarF = modelF.cov_params()
VarF

,const,sch,annhrs,annlabinc,yrsexp,yrsExpSq
const,0.100225,-5.165766e-03,-1.483808e-05,1.321186e-06,-2.518163e-03,4.781286e-05
sch,-0.005166,4.163123e-04,4.681957e-07,-9.734365e-08,2.628785e-07,6.515955e-07
annhrs,-0.000015,4.681957e-07,8.883577e-09,-5.382498e-10,-5.480051e-08,1.529446e-09
annlabinc,0.000001,-9.734365e-08,-5.382498e-10,1.050622e-10,-2.430025e-08,3.661194e-10
yrsexp,-0.002518,2.628785e-07,-5.480051e-08,-2.430025e-08,3.662743e-04,-8.595416e-06
yrsExpSq,0.000048,6.515955e-07,1.529446e-09,3.661194e-10,-8.595416e-06,2.179579e-07